# IntelliJ project files
.idea
*.iml
out
gen
*~
bower_components

# vs
.vscode

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac-specific directory that no other operating system needs.
.DS_Store

# Java
*.class
hs_err_pid*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear
*.log

# Maven
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# Eclipse project files
.project
.classpath
.settings
[Bb]in/

# Package Files #
**/nbproject/private/

# php cs fixer
.php_cs.cache

# local config #
.env

# think #
/composer.lock
/vendor